<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>An error has occurred</h1>
  <div><strong>Error code: </strong><%= code %> </div>
  <div><strong>Message: </strong><%= message %> </div>
</body>
</html>
