<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>Postal rate calculator</h1>
  <form method="POST" action="getPrice">
    <label for="weight">Enter weight</label> <br>
    <input type="number" name="weight" id="weight" placeholder="weight in oz" max="13" min="1" value="1"> <br><br>
    
    <label for="type">Select letter type</label><br>
    <select name="type" id="type">
      <option value="Letters (Stamped)">Letters (Stamped)</option>
      <option value="Letters (Metered)">Letters (Metered)</option>
      <option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
      <option value="First-Class Package Service—Retail">First-Class Package Service—Retail</option>
    </select> <br> <br>

    <button type="submit">Get Price</button>
  </form>
</body>
</html>
