<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <h2>Rate Summary</h2>
    <div><strong>Weight: </strong><%= weight %> </div>
    <div><strong>Type: </strong><%= type %> </div>
    <div id="price"><strong>Price: </strong>$<%= rate %> </div>
  </div>
</body>
</html>
